*{box-sizing:border-box;font-size:25px;align:center}

.layout{
				float:left;
				}

.main{
width:300px;
height:300px;
margin-left:35%;
margin-top:30%;
position:relative;
}
p{
			z-index:-1;
				position:absolute;
				top:25%;
				left:40%;
				font-size:50px;
				}
.red{
width:50%;
height:50%;
background:red;
transition:all 1s ease-in-out;
transform-origin:top left;
}
.yellow{
width:50%;
height:50%;
background:yellow;
transition:all 1s ease-in-out;
transform-origin:top right;
}
.blue{
width:50%;
height:50%;
background:blue;
transition:all 1s ease-in-out;
transform-origin:bottom left;
}
.green{
width:50%;
height:50%;
background:green;
transition:all 1s ease-in-out;
transform-origin:bottom right;
}
.main:hover p{
				display:block;
				}

.main:hover .red{
transform:rotate(90deg)
}

.main:hover .yellow{
transform:rotate(-90deg)
}

.main:hover .blue{
transform:rotate(-90deg)
}

.main:hover .green{
transform:rotate(90deg)
}
